.Footer {
  background-color: var(--main-orange) !important;
  color: var(--main-blue);
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 1.25rem;
}

.Footer a {
  text-decoration: none;
  color: var(--main-blue) !important;
  font-weight: 600;
  transition: 220ms ease-in-out;
}

.Footer a:hover {
  color: var(--main-blue) !important;
  text-decoration: overline;
}
