:root {
  --heading-font: "Nanum Pen Script", cursive;
  --content-font: "Crimson Text", serif;
}

body {
  margin: 0;
  font-family: var(--content-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
